/*层次选择器*/

p{
    font-size: 14px;
}
/*body后代h2字体16px*/
body h2{
    font-size: 18px;
}
/*第一个h2颜色变为红色*/
.firstH2{
    color: red;
}
/*第一个h2后面的通用兄弟元素h2变为蓝色*/
.firstH2 ~ h2{
    color: green;
}

.img1 {
    width: 300px;
    height: 200px;
}

.font1{
    font-size: 14px;
    color: blue;
}
.font2{
    font-size: 14px;
    color: #640000;
}