h2{
    color: #003580;
}
p{
    font-size: 14px;
    color: #000033;
}
.font1{
    color: #ff0000;
}
.font2{
    color: #1f87cc;
}
.font3{
    color: #faa53b;
}
.fon4{
    color: #0d7114;
}
